.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px);
  padding: 20px;
  background: linear-gradient(
    to bottom right,
    hsl(214, 82%, 51%),
    hsl(122, 39%, 49%)
  );
  font-family: Arial, Helvetica, sans-serif;
}

.login-container {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 500px;
  width: 100%;
}

.login-header {
  font-size: 2rem;
  font-weight: bold;
  color: hsl(214, 82%, 51%);
  margin-bottom: 10px;
}

.login-subtitle {
  font-size: 1rem;
  color: hsl(0, 0%, 33%);
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-input label {
  font-size: 0.9rem;
  color: hsl(0, 0%, 20%);
  margin-bottom: 5px;
}

.login-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s;
  box-sizing: border-box;
}

.login-input input:focus {
  border: 1px solid hsl(214, 82%, 51%);
}

.login-button {
  background-color: hsl(214, 82%, 51%);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.login-button:hover {
  background-color: hsl(212, 80%, 42%);
  transform: scale(1.05);
}

.login-register {
  margin-top: 20px;
  font-size: 0.9rem;
  color: hsl(0, 0%, 40%);
}

.register-link {
  color: hsl(214, 82%, 51%);
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.register-link:hover {
  color: hsl(212, 80%, 42%);
}

.login-message {
  margin-top: 20px;
  font-size: 0.9rem;
  color: hsl(1, 77%, 55%);
  font-weight: bold;
}

.login-container .error-message {
  color: #d9534f;
  font-size: 0.9rem;
  margin-top: 10px;
}

.login-input {
  width: 300px;
}
