.profile-page {
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-top: 2rem;
}

.profile-header {
  text-align: center;
  margin-bottom: 2rem;
}

.profile-header h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.profile-button {
  background-color: #0078d7;
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.profile-button:hover {
  background-color: hsl(210, 100%, 35%);
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.application-card,
.no-application-card {
  background-color: hsl(209, 92%, 95%);
  color: black;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
}

.application-card h2,
.no-application-card h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.profile-download-button {
  background-color: hsl(134, 61%, 41%);
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 1rem;
}

.text {
  color: hsl(0, 0%, 18%);
}

.info-message {
  background-color: hsl(209, 92%, 95%);
  border: 1px solid hsl(210, 95%, 85%);
  color: hsl(211, 60%, 48%);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  font-size: 1rem;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.file-name {
  margin-top: 10px;
  font-size: 0.9rem;
  color: hsl(122, 39%, 49%);
}

.accepted-students {
  list-style-type: none;
}
