body {
  margin: 0;
  font-family: sans-serif;
}

@media (min-width: 760px) {
  .main-header {
    padding: 2rem 8%;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px 20px;
}

.navbar-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: hsl(193, 85%, 87%);
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease-in;
}

.navbar-links a:hover {
  color: #61dafb;
}

.navbar-button {
  background-color: hsl(193, 99%, 63%);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, hsl(209, 100%, 51%), hsl(193, 95%, 57%));
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.navbar-button:hover,
.navbar-button:active {
  background: linear-gradient(90deg, hsl(209, 100%, 45%), hsl(193, 95%, 64%));
}
